
body{
color:#43423E; 
}

header {
    padding:1rem;
    background: #143788;

    a {
        color:#fff;
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

h2, h3, h4, h5 {
font-family: 'Roboto', sans-serif;
color:#CC0000;
}

p, li, div > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

h2, h3, h4, h5 {
    color:#CC0000;
}

#headings {
    display:block;
}

.site-image {
    margin: .9375rem 0;
}

a {
    color:#143788;
}

p > a {
    text-decoration: underline;
}

.menu {

    margin-bottom: 1rem;

    a.active {
        border-bottom:3px solid #143788;
    }
}

.pullquote {
    border-left:20px solid #43423E;
    background-color: #eceaea;
    font-size:1.35rem;
    color:#43423E;
    padding: 2rem;
    float:right;
}

.color div:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#colors h2 {
border-bottom:5px solid #43423E;
} 

#color-1 {
    background:#CC0000;
}

#color-2 {
    background:#143788;
}

#color-3 {
    background:#43423E;
}

#color-4 {
    background:#eceaea;
}

.button {
    background:#143788;
    color:#fff;
}

.border {
    border-left: 5px solid #eceaea;
    padding-left:1rem;

    a {
        display:block;
    }
}

footer {
    margin-top:1rem;
    padding:1rem;
    background:#CC0000;
    color:#fff;

    a {
        color:#fff;
    }
}